* {
    font-family:'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    --color:  rgb(19, 150, 41);
    --text-color:white;
    --border-color:rgb(199, 183, 11);
    /* background-color: rgb(19, 150, 41); */

}

header{
    background-color: var(--color);
}
.header {   
    padding: 20px;
    background-color: var(--color);
    color: var(--text-color);
}
.header h1{
    display: inline-block;
    font-size: 50px;
}
.header nav {
    margin-right: 20px;
    float: right;
    font-size: 17px;
}

.header nav ul{
    padding-top: 32px;
    margin-right: 20px;
    list-style-type: none;
}
.header nav ul li {
    display: inline-block;
    margin-left: 20px;
}

a{
    color: var(--text-color);
    text-decoration: none;
}

body{
    background-color: var(--text-color);
}

h2{
    color: var(--text-color);
    font-size: 40px;
}
h3{
    color: var(--text-color);
    font-size: 30px;
}
.content {
    margin: 0 auto;
    text-align: center;
    padding: 40px;
    width: 80%;
    height: 100%;
}
.about-me {
    margin: 10% auto;
    width: 100%;
    border-style: double;
    border-width: 15px;
    border-radius: 20px;
    padding: 5px;
    border-color: var(--border-color);
}

.center {
    border-radius: 15%;
    border-width: 20px;
    width:40%;
    height: 40%;
    border-color:rgb(202, 64, 87) ;
}

div {
    margin-top: 5%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10%;
    width: 100%;
    border-style: double;
    border-width: 15px;
    border-radius: 20px;
    padding: 5px;
    border-color: var(--border-color);
    text-align: center;
}
img{
    width: 90%;
    border-radius: 15px;
    border-width: 20px;
    border-color: rgb(255, 255, 255);
}
.contact-me{
    margin: 0 auto;
    height: 100%;
    border-style: solid;
    padding: 20px;
    border-color: var(--border-color);
    text-align: center;
}

footer{
    margin: 0 auto;
    width: 100%;
    padding: 10px;
    padding-bottom: 40px;
}

footer nav{
    margin: 0 50%;}

footer nav ul li{
    display: inline-block;
    width: 50px;
}