* {
    background-color: green;
    font-family:'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    box-sizing: border-box;
    padding: 0;
    margin: 0;

    --color: green;
    --text-color:white;

}

header{
    background-color: var(--color);
}
.header {   
    padding: 20px;
    background-color: var(--color);
    color: var(--text-color);

}

.header h1{
    display: inline-block;
    font-size: 50px;
}
.header nav {
    margin-right: 20px;
    float: right;
    font-size: 17px;
}

.header nav ul{
    padding-top: 32px;
    margin-right: 20px;
    list-style-type: none;
}
.header nav ul li {
    display: inline-block;
    margin-left: 20px;
}
a{
    color: var(--text-color);
    text-decoration: none;
}
body{
    background-color: var(--text-color);
}

.about-me{
    background-color: var(--text-color);
    margin-top: 5%;
    width: 20%;

}

.center{
    border-radius: 50%;
    width: 400px;
    margin: 10px auto;
    margin-bottom: 25px;
    float: center;
    

}