* {
    font-family:'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    --color:white;
    --header-color:white;
    --border-color-text:rgb(199, 183, 11);
    --image-border-color: red;
    --background-color: rgb(8, 141, 31);
    background-color:  rgb(8, 141, 31);

}
/* header color */
header{ 
    background-color: var(--color);
}
.header {   
    padding: 20px;
    background-color: var(--background-color);
    color: var(--color);
}
.header h1{
    display: inline-block;
    font-size: 50px;
}
.header nav {
    margin-right: 20px;
    float: right;
    font-size: 17px;
}

.header nav ul{
    padding-top: 32px;
    margin-right: 20px;
    list-style-type: none;
}
.header nav ul li {
    display: inline-block;
    margin-left: 20px;
}

a{
    color: var(--color);
    text-decoration: none;
}

body{
    background-color: var(--color);
}

h2{
    color: var(--color);
    font-size: 40px;
}

h3 {
    color: var(--color);
    font-size: 30px;
}

.content {
    margin: 0 auto;
    text-align: center;
    padding: 40px;
    width: 80%;
    height: 100%;
}
.about-me {
    margin: 10% auto;
    width: 100%;
    border-style: double;
    border-width: 15px;
    border-radius: 20px;
    padding: 5px;
    border-color: var(--color);
}
/* main image position */

.center-photo {
    border-style: solid;
    border-radius: 15%;
    border-width: 20px;
    width:40%;
    height: 40%;
    border-color:var(--color) ;
}

/* sets up the styling for the projects */
div {
    margin-top: 5%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10%;
    width: 100%;
    border-style: double;
    border-width: 15px;
    border-radius: 20px;
    padding: 5px;
    border-color: var(--border-color-text);
    text-align: center;
    color: var(--color);
}

.project ul li{
    list-style-type: none;
    margin: 0 auto;
}

/* sets the images size and border */
.work img{
    width: 90%;
    border-radius: 15px;
    border-width: 20px;
    border-style: solid;
    border-color: var(--border-color-text);
}

#contact-me{
    border: 1.5px solid black;
    width : 40%;
    margin: 0 auto;
    padding: 120px;
    text-align: center;
    color: var(--color);
}

.work{
    display: flex;
    
}
  
  .contact-me h3 {
    margin-bottom: 5%;
  }
  
  .contact-me form input[type="text"] {
    padding: 10px;
    border-radius: 5px;
    border-color: var(--color);
    font-size: 15px;
    margin-bottom: 20px;
  }

  /* formats ans sets the contact me info */
  .contact-me button {
    padding: 10px;
    border-radius: 5px;
    border: solid;
    background-color: var(--border-color-text);
    color: var(--color);
    font-size: 16px;
  }
  
  /* changes color when you hover over the button */
  .contact-me button:hover {
    background-color: var(--background-color);
  }

footer{
    width: 100%;
    padding: 10px;
    padding-bottom: 40px;
}

footer nav{
  text-align: center;
}

footer nav ul li{
    display: inline-block;
}
footer img{
    width: 50px;
}